.font-size--sm {
  font-size: 1.2rem;
}

.font-size--md {
  font-size: 1.6rem;
}

.loading {
  margin-right: 1rem;
}

.margin-right-sm {
  margin-right: 2rem;
}

.margin-top-lg {
  margin-top: 6rem;
}

.margin-top-xl {
  margin-top: 8rem;
}

.margin-bottom-md {
  margin-bottom: 4rem;
}

.width--full {
  width: 100%;
}
