.wrapper-portfolio {
  width: 66%;
  margin: 0 auto;
  @include respond(tab-land) {
    width: 80%;
  }

  @include respond(tab-port) {
    width: 98%;
  }
}

.nav {
  display: flex;
  align-items: center;
  height: 5rem;
  background-color: $color-black-medium;

  &__name {
    display: inline-block;
    color: #fff;
    font-size: 2rem;
  }
}

.project {
  padding: 12rem 0;
  position: relative;

  @include respond(phone) {
    padding: 5rem 0;
  }

  &--title {
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    color: $color-black-medium;
  }
}

.left-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #edf6f9;
  z-index: -1;
}

.start-icon {
  position: absolute;
  top: 0;
  right: 10%;
  width: 10rem;
  height: 20rem;
  background-color: #000000;
  clip-path: polygon(50% 0, 100% 20%, 100% 100%, 0 100%, 0 20%);
  transform: rotateX(180deg);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);

  @include respond(phone) {
    display: none;
  }
  &-part--1 {
    position: absolute;
    width: 9rem;
    height: 19.5rem;
    background-color: #fde74c;
    transform: translateX(0.5rem);
    clip-path: polygon(50% 3%, 100% 21%, 100% 100%, 0 100%, 0 21%);
  }
  &-part--2 {
    position: absolute;
    top: 13.5rem;
    left: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background-color: #f1faee;
    border: 2px solid #000000;
  }

  &-part--3 {
    position: absolute;
    top: 0.1rem;
    left: 0.2rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #457b9d;
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
    transform: rotateX(180deg);
  }
}

.portfolio--flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-pf {
  flex: 0 0 29rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;
  margin: 5rem;
  @include respond(tab-land) {
    flex: 0 0 34rem;
  }

  @include respond(tab-port) {
    flex: 0 0 36rem;
  }
  @include respond(phone) {
    flex: 0 0 40rem;
  }

  &__side {
    height: 40rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);

    &--front {
      background-color: #fff;
    }

    &--back {
      transform: rotateY(180deg);

      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 10rem 6rem;
      }

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, 0.85),
          rgba($color-primary-dark, 0.85)
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary-light, 0.85),
          rgba($color-secondary-dark, 0.85)
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary-light, 0.85),
          rgba($color-tertiary-dark, 0.85)
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: url(../../assets/img/portfolio/image-1.PNG);
    }

    &--2 {
      background-image: url(../../assets/img/portfolio/image-2.PNG);
    }

    &--3 {
      background-image: url(../../assets/img/portfolio/image-1.PNG);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    line-height: 4rem;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      li {
        text-align: center;
        font-size: 1.8rem;
        padding: 1.2rem;
        font-weight: 600;
      }
    }
    &-tech-logo {
      width: 5rem;
      height: 5rem;
      background-position: center;
      background-size: cover;

      &--1,
      &--3 {
        background: url(../../assets/img/portfolio/react192.png) no-repeat;
        background-position: center;
        background-size: cover;
      }

      &--2 {
        background: url(../../assets/img/portfolio/django.png) no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }

  &__description {
    color: #fff;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
  }

  &__link-box {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-between;
    &--link {
      padding: 1rem 2.6rem;
      background-color: #fff;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      &,
      &:link,
      &:visited {
        text-decoration: none;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
      }

      &--1,
      &--1:link,
      &--1:visited {
        color: $color-primary-dark;
      }

      &--2,
      &--2:link,
      &--2:visited {
        color: $color-secondary-dark;
      }

      &--3,
      &--3:link,
      &--3:visited {
        color: $color-tertiary-dark;
      }
    }
  }

  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
      }
    }

    &__details {
      padding: 1rem 3rem;
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__side--back__container {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }
  }
}

.footer {
  height: 10rem;
  background-color: $color-black-medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__contact {
    display: flex;

    &-title {
      color: #fff;
      font-size: 2rem;
      text-transform: uppercase;
    }

    &__link {
      border-radius: 100px;
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &,
      &:link,
      &:visited {
        text-decoration: none;
      }

      &--github {
        &:link,
        &:visited {
          color: #000;
        }
        background-color: white;

        & > i {
          font-size: 2rem;
        }
      }

      &--email {
        &:link,
        &:visited {
          color: #fff;
        }
        background-color: $color-portfolio-header-bg;
        & > i {
          font-size: 1.6rem;
        }
      }
    }

    &--icon-box {
      &:not(:last-child) {
        margin-right: 2rem;
      }
      cursor: pointer;

      & > .i {
        font-size: 2rem;
      }

      &--github {
        background-color: white;
      }

      &--email {
        color: #fff;
        background-color: $color-portfolio-header-bg;
      }
    }
  }
}
